[Desktop Entry]
Name=Digital Clock WL
Comment=Minimalistic clock with calendar
Icon=clock
 
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=160,260
 
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Email=varlesh@gmail.com
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Name=org.kde.plasma.digitalclock.wl
X-KDE-PluginInfo-Version=0.2
 
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service
